# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# SAP B1 Service Layer — use SBOVENHOM2 para desenvolver
SAP_SL_URL=https://sap-sementesveneza-sl.skyinone.net:50000/b1s/v1
SAP_COMPANY_DB=SBOVENHOM2
SAP_USER=
SAP_PASSWORD=
